<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Algolia\AlgoliaSearch\Block\Configuration">
        <plugin name="damcou_demobanner_add_category_name_plugin"
            type="Damcou\DemoBanner\Plugin\AddCategoryNamePlugin" />
    </type>
</config>